@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-height: 1280px;
  min-width: 375px;
  margin: 0 auto;
  background-color: #C4CCEB;
}

img {
  width: 100%;
}

.header {
  padding-top: 24px;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-inner__title {
  padding-left: 14px;
  letter-spacing: 0.05em;
  line-height: 55px;
  font-size: 20px;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.first-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 11.015625vw;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.first-view .catch-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first-view .catch-copy .catch-copy__inner {
  font-size: calc(1.625rem + ((1vw - 3.75px) * 5.9669));
  font-weight: bold;
}
@media screen and (min-width: 1280px) {
  .first-view .catch-copy .catch-copy__inner {
    font-size: 80px;
  }
}
.first-view .catch-copy .catch-copy__inner-text .honest {
  padding: 3.90625vw 3.28125vw 3.90625vw 2.734375vw;
  background-color: #FFFFFF;
}
.first-view .catch-copy .catch-copy__inner-text .tax {
  display: inline-block;
  padding: 4.140625vw 4.296875vw 3.671875vw 3.671875vw;
  background-color: #FFFFFF;
}
.first-view .catch-copy .catch-copy__inner-text:nth-of-type(2) {
  margin-top: 2.03125vw;
}
.first-view .arrow {
  text-align: center;
  margin-top: 3.984375vw;
}
.first-view .fas {
  font-size: calc(1.0025rem + ((1vw - 3.75px) * 2.316));
}
@media screen and (min-width: 1280px) {
  .first-view .fas {
    font-size: 37px;
  }
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1004px;
  margin: 0 auto;
  margin-top: 11.015625vw;
}
@media screen and (max-width: 1280px) {
  .introduction {
    margin-left: 10.78125vw;
    margin-right: 10.78125vw;
  }
}
@media screen and (max-width: 395px) {
  .introduction {
    margin: 0 20px;
  }
}
.introduction-container__header .introduction-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.1875rem + ((1vw - 3.75px) * 3.4254));
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1280px) {
  .introduction-container__header .introduction-title {
    font-size: 50px;
  }
}
.introduction-container__header .introduction-title .icon:nth-of-type(1) {
  margin-right: 2.1875vw;
}
.introduction-container__header .introduction-title .icon:nth-of-type(2) {
  margin-left: 2.890625vw;
}
.introduction-container__header .introduction-title .icon-inner {
  display: block;
  max-width: 84px;
  max-height: 84px;
  min-width: 33px;
  min-height: 33px;
  width: 6.5625vw;
  height: 6.5625vw;
  background-image: url(../images/wad_of_bills_24.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.introduction-container__contents {
  position: relative;
  text-align: center;
  margin-top: 4.140625vw;
  font-weight: bold;
}
.introduction-container__contents-inner {
  max-width: 1004px;
  min-width: 335px;
  padding: 7.8125vw 10.390625vw 7.578125vw 14.84375vw;
  border-radius: 35px;
  border: solid 15px #FFFFFF;
  border-width: 10px;
}
.introduction-container__contents-inner .number {
  position: relative;
  font-size: calc(5rem + ((1vw - 3.75px) * 8.8398));
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  .introduction-container__contents-inner .number {
    font-size: 160px;
  }
}
.introduction-container__contents-inner .number .point {
  font-size: calc(3.125rem + ((1vw - 3.75px) * 5.5249));
}
@media screen and (min-width: 1280px) {
  .introduction-container__contents-inner .number .point {
    font-size: 100px;
  }
}
.introduction-container__contents-inner .line-inner {
  display: block;
  max-width: 546px;
  max-height: 15px;
  min-height: 18px;
  width: 42.65625vw;
  background-image: url(../images/diagonalLine.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1.171875vw;
  margin: 0 auto;
  margin-top: 2.3828125vw;
}
.introduction-container__contents-inner .inner-text {
  margin-top: 4.1015625vw;
}
.introduction-container__contents-inner .inner-text .text {
  text-align: left;
  line-height: 1.7;
  font-size: calc(1.125rem + ((1vw - 3.75px) * 1.326));
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  .introduction-container__contents-inner .inner-text .text {
    font-size: 30px;
  }
}

.product {
  max-width: 1003px;
  margin: 0 auto;
  margin-top: 14.6875vw;
}
@media screen and (max-width: 768px) {
  .product {
    margin-right: 46px;
    margin-left: 46px;
  }
}

.product-container__header-title {
  text-align: center;
  letter-spacing: 0.07em;
  font-size: calc(1.4375rem + ((1vw - 3.75px) * 6.2983));
  font-weight: bold;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  .product-container__header-title {
    font-size: 80px;
  }
}

.product-heding {
  position: relative;
  display: inline-block;
}

.product-heding::before, .product-heding::after {
  position: absolute;
  content: "";
  max-width: 13px;
  min-width: 4px;
  width: 1.015625vw;
  max-height: 95px;
  min-height: 28px;
  height: 7.421875vw;
  border-radius: 11px;
  background-color: #FFFFFF;
}

.product-heding::before {
  top: 25%;
  left: -4%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.product-heding::after {
  top: 25%;
  right: -4%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-content__item-cover {
  position: relative;
  width: 330px;
  margin: 0 auto;
  margin-top: 9.21875vw;
}
.product-content__item-cover::before {
  content: "";
  position: absolute;
  top: -12.1px;
  left: 13.4px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.product-content__text {
  max-width: 546px;
  min-width: 335px;
  width: 45.234375vw;
  margin-top: 8.984375vw;
  margin-left: 7.34375vw;
  line-height: 1.7;
  font-size: calc(1rem + ((1vw - 3.75px) * 0.442));
  font-weight: bold;
  font-family: "游ゴシック体", sans-serif;
}
@media screen and (min-width: 1280px) {
  .product-content__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .product-content__text {
    margin: 9.2810457516vw 0 14.6013071895vw 0;
  }
}
@media screen and (max-width: 375px) {
  .product-content__text {
    margin: 18.9333333333vw 0 29.7866666667vw 0;
  }
}
.product-content__text-inner:not(:nth-of-type(3)) {
  margin-bottom: 1.5625vw;
}
.product-content__text .product-button {
  text-align: center;
  margin-top: 4.21875vw;
}
.product-content__text .product-button .btn {
  display: inline-block;
  min-width: 329px;
  max-width: 402px;
  padding: 2.03125vw 9.296875vw 2.03125vw 9.296875vw;
  border-radius: 100vw;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  -webkit-box-shadow: 8px 8px #000000;
          box-shadow: 8px 8px #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
@media screen and (min-width: 1280px) {
  .product-content__text .product-button .btn {
    padding: 26px 119px 26px 119px;
  }
}
@media screen and (max-width: 768px) {
  .product-content__text .product-button .btn {
    padding: 17px 79px 17px 79px;
  }
}
@media screen and (max-width: 375px) {
  .product-content__text .product-button .btn {
    padding: 17px 79px 17px 79px;
  }
}
.product-content__text .product-button .btn:hover {
  -webkit-box-shadow: 3px 3px #000000;
          box-shadow: 3px 3px #000000;
  text-decoration: none;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.recommend {
  margin-top: 11.5625vw;
  padding: 6.328125vw 0vw 8.046875vw 0vw;
  font-weight: bold;
  font-family: "游ゴシック体", sans-serif;
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .recommend {
    padding: 29.0364583333vw 0vw 40.7552083333vw 0vw;
  }
}
@media screen and (max-width: 375px) {
  .recommend {
    padding: 33.0666666667vw 0vw 46.4vw 0vw;
  }
}
@media screen and (max-width: 768px) {
  .recommend-container {
    margin: 0 20px;
  }
}
.recommend-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recommend-information__lists {
  width: 36.25vw;
  min-width: 375px;
}
.recommend-information__lists-list {
  max-width: 324px;
  min-width: 246px;
  width: 25.3125vw;
  margin: 0 auto;
}
.recommend-information__lists-list.name {
  margin-top: 8.359375vw;
  font-size: calc(1.875rem + ((1vw - 3.75px) * 0.1878));
}
@media screen and (min-width: 1280px) {
  .recommend-information__lists-list.name {
    font-size: 32px;
  }
}
.recommend-information__lists-list.text {
  margin-top: 1.25vw;
  font-size: 16px;
  line-height: 1.6;
}
.recommend-information__lists-list.sns {
  font-size: calc(0.9375rem + ((1vw - 3.75px) * 0.0939));
}
@media screen and (min-width: 1280px) {
  .recommend-information__lists-list.sns {
    font-size: 16px;
  }
}
.recommend-information__lists-list.twitter {
  margin-top: 4.0625vw;
}
.recommend-information__lists-list.blog {
  margin-top: 1.25vw;
}
.recommend-information__lists:nth-of-type(2) .text p {
  width: 26.5625vw;
}
@media screen and (max-width: 768px) {
  .recommend-information__lists:nth-of-type(2) .text p {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .recommend-information__lists:nth-of-type(2) .photo {
    margin-top: 32.8125vw;
  }
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 7.1875vw 30.15625vw 6.25vw 34.0625vw;
  font-size: 16px;
  font-weight: bold;
  font-family: "游ゴシック体", sans-serif;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 4.296875vw 2.9947916667vw 12.7604166667vw 2.9947916667vw;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    font-size: 12px;
  }
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-container__item .director, .footer-container__item .markup {
  margin-right: 16px;
}
.footer-container__item .colon {
  position: relative;
  margin-right: 8px;
}
.footer-container__item .colon::before {
  content: ":";
  position: absolute;
  top: -2px;
  left: -9px;
  width: 16px;
  height: 16px;
  color: #000000;
}
.footer-container__item .colon:nth-of-type(1) {
  margin-right: 6.25vw;
}
/*# sourceMappingURL=style.css.map */