$fontBase: "Montserrat", sans-serif;
$fontYuGothic: "游ゴシック体", sans-serif;

$fontSizeArrow: calc(1.0025rem + ((1vw - 3.75px) * 2.316)); //16.04~37
$firstFontSizeLarger: calc(1.625rem + ((1vw - 3.75px) * 5.9669)); //26~80
$intorfontSizeTiny: calc(1.125rem + ((1vw - 3.75px) * 1.326)); //18~30
$intorfontSizeSmall: calc(1.1875rem + ((1vw - 3.75px) * 3.4254)); //19~50
$intorfontSizeMiddle: calc(3.125rem + ((1vw - 3.75px) * 5.5249)); //50~100
$intorfontSizeLarger: calc(5rem + ((1vw - 3.75px) * 8.8398)); //80~160
$productFontSizeSmall: calc(1rem + ((1vw - 3.75px) * 0.442)); //16~20
$productFontSizeLarger: calc(1.4375rem + ((1vw - 3.75px) * 6.2983)); //23~80
$recomFontSizeName: calc(1.875rem + ((1vw - 3.75px) * 0.1878));
$recomFontSizeSns: calc(0.9375rem + ((1vw - 3.75px) * 0.0939));

$colorWhite: #FFFFFF;
$colorBlack: #000000;




