@forward "../config/variables";
@use "../config/variables" as var;
@forward  "../mixin/site-padding";
@use "../mixin/site-padding" as sp;
@forward  "../function/convert-vp";
@use "../function/convert-vp" as vp;
@forward "../mixin/madia";
@use "../mixin/madia";

.footer {
  max-width: 1280px;
  margin: 0 auto;
  @include sp.sitePaddingBase(92px, 386px, 80px, 436px);
  font-size: 16px;
  font-weight: bold;
  font-family: var.$fontYuGothic;
  @include madia.deviceBreakPointMax(768px) {
    @include sp.sitePaddingMiddle(33px, 23px , 98px, 23px);
  }
  @include madia.deviceBreakPointMax(375px) {
    font-size: 12px;
  }
  &-container {
    display: flex;
    justify-content: center;
    &__item {
      display: flex;
      .director, .markup {
        margin-right: 16px;
      }
      .colon {
        position: relative;
        margin-right: 8px;
        &::before {
          content: ":";
          position: absolute;
          top: -2px;
          left: -9px;
          width: 16px;
          height: 16px;
          color: #000000;
        }
        &:nth-of-type(1) {
          margin-right: vp.convertVw(80px, 1280px);
        }
      }
    }
  }
}
