@forward  "../mixin/font-tukusi";
@use "../mixin/font-tukusi" as ft;

.header {
  padding-top: 24px;
  &-inner {
    display: flex;
    justify-content: center;
    &__title {
      padding-left: 14px;
      letter-spacing: .05em;
      line-height: 55px;
      font-size: 20px;
      @include ft.fontTukusiB;
    }
  }
}
