@forward "../config/variables";
@use "../config/variables" as var;
@forward  "../mixin/font-tukusi";
@use "../mixin/font-tukusi" as ft;
@forward  "../mixin/site-padding";
@use "../mixin/site-padding" as sp;
@forward  "../function/convert-vp";
@use "../function/convert-vp" as vp;
@forward "../mixin/madia";
@use "../mixin/madia";

.introduction {
  display: flex;
  justify-content: center;
  max-width: 1004px;
  margin: 0 auto;
  margin-top: vp.convertVw(141px, 1280px);
  @include madia.deviceBreakPointMax(1280px) {
    margin-left: vp.convertVw(138px, 1280px);
    margin-right: vp.convertVw(138px, 1280px);
  }
  @include madia.deviceBreakPointMax(395px) {
    margin: 0 20px;
  }
  &-container__header {
    .introduction-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var.$intorfontSizeSmall;
      font-family: var.$fontBase;
      @include madia.deviceBreakPointMin(1280px) {
        font-size: 50px;
      }
      .icon {
        &:nth-of-type(1) {
          margin-right: vp.convertVw(28px, 1280px);
        }
        &:nth-of-type(2) {
          margin-left: vp.convertVw(37px, 1280px);
        }
        &-inner {
          display: block;
          max-width: 84px;
          max-height: 84px;
          min-width: 33px;
          min-height: 33px;
          width:  vp.convertVw(84px, 1280px);
          height: vp.convertVh(84px, 1280px);
          background-image: url(../images/wad_of_bills_24.svg);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.introduction-container__contents {
  position: relative;
  text-align: center;
  margin-top: vp.convertVw(53px, 1280px);
  font-weight: bold;
  &-inner {
    max-width: 1004px;
    min-width: 335px;
    @include sp.sitePaddingBase(100px, 133px, 97px, 190px);
    border-radius: 35px;
    border: solid 15px #FFFFFF;
    border-width: 10px;
    .number {
      position: relative;
      font-size: var.$intorfontSizeLarger;
      @include ft.fontTukusiA;
      @include madia.deviceBreakPointMin(1280px) {
        font-size: 160px;
      }
      .point {
        font-size: var.$intorfontSizeMiddle;
        @include madia.deviceBreakPointMin(1280px) {
          font-size: 100px;
        }
      }
    }
    .line-inner {
      display: block;
      max-width: 546px;
      max-height: 15px;
      min-height: 18px;
      width: vp.convertVw(546px, 1280px);
      background-image: url(../images/diagonalLine.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      height: vp.convertVh(15px, 1280px);;
      margin: 0 auto;
      margin-top: 2.3828125vw;
    }
    .inner-text {
      margin-top: 4.1015625vw;
      .text {
        text-align: left;
        line-height: 1.7;
        font-size: var.$intorfontSizeTiny;
        @include ft.fontTukusiA;
        @include madia.deviceBreakPointMin(1280px) {
          font-size: 30px;
        }
      }
    }
  }
}


